/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* font-1
font-family: 'Poppins', sans-serif; */

/* common-style */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  width: 870px;
  margin-top: 21px;
  padding: 30px 0px 40px 30px;
  border-radius: 5px;
}
/* top player styel */
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 0px;
}
.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin: 0px 40px 30px 20px;
}

/*------------
 blogs styles 
 -------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 183px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
/*--------------
 Blog styles end
 --------------*/

/*------------------ 
 courses styles start
 ------------------ */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  /* display: flex;
  justify-content: space-between; */
}
.course {
  background-color: #ffffff;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
  width: 252.42px;
  height: 310px;
  border-radius: 14px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-info p {
  color: #a2a2a2;
}
.course-duration {
  background-color: #ffe4e8;
  color: #ff4a60;
  width: 94px;
  height: 29px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 9px 1px 0px 1px;
  border-radius: 40px;
}
.Powerpoint {
  background-color: #fee5df;
  color: #ed6b4f;
}
.fa-clock {
  margin-right: 6px;
  font-size: 16px;
}

/*--------------
 Media queries 
 -------------------*/

@media screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }
  .player {
    flex-direction: column;
    justify-content: ;
    align-items: center;
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
}
